.dragging {
  opacity: 0.5;
  background-color: #f0f0f0;
}

.drag-over-effect {
  border-left: 2px solid #007bff;
  /* Add a border to highlight the drop target */
}

/* Optional: Add a transition for a smoother effect */
.table th {
  transition: all 0.2s ease-in-out;
}

.table-responsive {
  max-height: calc(100vh - 220px);
}